<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sitecore_analytics_index" >
            <configuration>
              <documentOptions>
                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="Contact.CompletedGoals" 
                         type="GoalCompletionReporting.Business.Search.GoalsCompletedField, GoalCompletionReporting.Business"
                         matchField="type" 
                         matchValue="contact" 
                         separator="" />
                </fields>
              </documentOptions>
            </configuration>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>
